@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

td, th {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

h3 {
  margin-top: 15px;
}

table {
  thead {
    background-color: rgb(28, 86, 130);
  }
  caption {
    background-color: rgb(28, 86, 130);
  }
  border-collapse: collapse;
  border-radius: 10px;
}

tbody {
  background-color: rgb(39, 123, 185)
}