@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

table {
  caption {
    background-color: rgb(28, 86, 130);
  }
  thead {
    background-color: rgb(28, 86, 130);
  }
  tbody {
    background-color: rgb(39, 123, 185)
  }
  td, th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  border-collapse: collapse;
  border-radius: 10px;
  width: 700px;
  margin-top: 40px;
}

.p-inputmask, .p-inputtext {
  font-size: 25px; 
  width: 90px;
}

body {
  font-size: 25px;
}
